*{
  text-align: center ;
  /* background-color: rgb(19, 57, 57); */
}
.row_1{
  align-items: center;
  border: 5px solid rgb(233, 96, 47);
  border-radius: 15px;
  width:700px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 10px 10px;
}
.work_name{
  height: 40px;
}
.input_item{
  height: 30px;
  width: 300px;
  border-radius: 20px;
  background-color: coral;
  box-shadow: 5px 5px;
}
.input_time{
  height: 30px;
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: coral;
  box-shadow: 5px 5px;
}
.work_priority{
  margin-top: 20px;
  height: 30px;
  width: 50px;
  border-radius: 10px;
  background-color: coral;
  box-shadow: 2px 2px;
  
}
.add_btn{
  margin-top: 15px;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  background-color: coral;
  box-shadow: 2px 2px;
}
.sort_btn{
  margin-top: 15px;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: coral;
  box-shadow: 2px 2px;

}
.table{
  align-items: center;
}
th, td {
  border:1px solid black;
  margin-left: 4px;
  background-color: coral;
  box-shadow: 1px 1px;
  border-radius: 5px;
  
}
.done_btn{
  border:1px solid black;
  margin-left: 4px;
  background-color: coral;
  box-shadow: 1px 1px;
  border-radius: 5px;
}
.delete_btn{
  border:1px solid black;
  margin-left: 4px;
  background-color: coral;
  box-shadow: 1px 1px;
  border-radius: 5px;
}
.remove_dot{
  list-style-type: none;
}
