

.main_div{
    border: 2px solid red;
    height:200px;
    width:100px;
    background:lightblue;
       
}     
.text{
	border: 1px solid red;
    height:30px;
    width:200px;
    margin-left:10px;
    margin-top:5px;
}
.ol li{
	font-size:20px;
	font-weight:500;
	display: flex;
	 
}

